.link {
  display: flex;
  align-items: center;
  max-width: 200px;
  align-self: start;
  cursor: pointer;
  &:nth-child(1) {
    font-size: 1.9rem;
    line-height: 4rem;
    font-weight: 600;
  }
}
